<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163278753735-4cq3mqr9tk867ltc9tjghb3g508qjqh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163278753735-4cq3mqr9tk867ltc9tjghb3g508qjqh4</string>
	<key>API_KEY</key>
	<string>AIzaSyBl77gfQ07GO_tBA5dsauQWt8lqZjQsxu0</string>
	<key>GCM_SENDER_ID</key>
	<string>163278753735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.stateofmotion.denverhappyhour</string>
	<key>PROJECT_ID</key>
	<string>denver-happy-hour</string>
	<key>STORAGE_BUCKET</key>
	<string>denver-happy-hour.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163278753735:ios:16d99891fc5fd376</string>
	<key>DATABASE_URL</key>
	<string>https://denver-happy-hour.firebaseio.com</string>
</dict>
</plist>